ner {
  max-width: 600px;
  margin: 30px auto;
}

.btn {
  padding: 10px 20px;
  background-color: lightblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  /* transition:
    background-color 4s ease-out,
    color 2s ease-in,
    width 2s ease-in-out,
    border-radius 2s ease-in-out,
    opacity 2s ease-in-out,
    box-shadow 2s ease-in-out; */
  transition: all 2s ease-in-out;
}

.btn:hover {
  background-color: blue;
  color: yellow;
  width: 400px;
  border-radius: 50px;
  opacity: 0.5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
